<ion-view view-title="FOLLOWING">
	<div class="bar bar-subheader">
		<button class="button icon-left ion-android-arrow-back button-clear button-custom" ng-click="goBack()">Back</button>
	</div>
	<ion-content class="has-big-subheader has-tabs has-custom-tab main-content profile-content">
		<div ng-controller="UserImagesCtrl">
			<div class="header-img" style="background: url('{{imgBasePath + userData.UserCoverImage}}') center no-repeat; background-size: cover;">
				<div class="edit-cover-image-button" ng-click="selectImage('UserCoverImage', 'update_coverpic', 900, 300)" ng-if="userIds.userId == userIds.profile_id">
					<button class="button button-green button-round">
						<img src="img/icon-camera.png" />
					</button>
					<span>UPDATE COVER IMAGE</span>
				</div>
				<div class="user-img" style="background: url('{{imgBasePath + userData.UserProfileImage}}') no-repeat; background-size: cover;">
					<button class="button button-green button-round edit-profile-pic-button" ng-click="selectImage('UserProfileImage', 'update_profilepic', 500, 500)" ng-if="userIds.userId == userIds.profile_id">
						<img src="img/icon-camera.png" />
					</button>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="accordion status-section margin">
				<div class="item item-divider item-title text-left">
					<p>Following ({{following.length}})</p>
				</div>
				<div class="item item-follower" ng-repeat="follower in following">
					<div class="row no-padding">
						<div class="col no-padding profile-img">
							<img src='img/loading-img.gif' lazy-img='{{imgBasePath + follower.UserProfileImage}}' />
						</div>
						<div class="col col-33 no-padding profile-details">
							<p class="name uppercase" style="line-height: 40px;">{{follower.username}}</p>
						</div>
						<div class="col col-50 no-padding action-row text-right">
							<ul class="action-h-list">
								<li class="action border">
									<img style="width: 20px;" src="img/icon-comment.png" />
								</li>
								<li class="action right-action">
									<button class="button button-small button-custom share-button uppercase" ng-click="followUnfollowUser(follower, follower.id)">
										{{follower.isfollow}}
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="tabs tabs-icon-top footer-tab">
		<a nav-transition="none" class="tab-item" href="#/menu/news-main">
			<i class="icon tab-icon-newsfeed"></i>
			NEWSFEED
		</a>
		<a nav-transition="none" class="tab-item" href="#/menu/explore">
			<i class="icon tab-icon-explore"></i>
			EXPLORE
		</a>
		<div nav-transition="none" class="tab-item" ng-click="launchChatNow()">
			<i class="icon tab-icon-chat"></i>
			CHAT
			<span class="badge badge-stable header-badge"></span>
		</div>
		<a nav-transition="none" class="tab-item" href="#/menu/notifications">
			<i class="icon tab-icon-notifications"></i>
			NOTIFICATIONS
			<span class="badge badge-stable header-badge"></span>
		</a>
		<a nav-transition="none" class="tab-item" href="#/menu/profile/{{userInfo.userId}}">
			<i class="icon tab-icon-profile"></i>
			PROFILE
		</a>
	</div>
</ion-view>