<ion-view hide-nav-bar="true" class="order-success-bg">
	<ion-content class="container">
		<div class="text-center app-logo">
			<img class="full-img" src="img/logo-2.png" />
		</div>
		<div class="margin">
			<div class="order-confirm-logo">
				<img class="full-img" src="img/order-confirm-check.png" />
			</div>
		</div>
		<div class="heading-boarder"></div>
		<div class="text-center">
			<h3 class="uppercase">order Placed successfulLy</h3>
			<p class="thanks-text uppercase">THANKS for placing your order.</p>
		</div>
		<div class="margin text-center">
			<button class="button button-small button-custom" ng-click="goTo('menu.shop-products', {})">
				BACK TO SHOPPING
			</button>
		</div>
	</ion-content>
</ion-view>