<ion-modal-view class="widget-modal know" set-height val="didyouknowData">
	<ion-header-bar align-title="center">
		<p class="title">DID YOU KNOW?</p>
		<div class="buttons">
			<button class="button button-clear button-icon icon ion-ios-close-empty" ng-click="closeKnow()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="widget-content text-center">
			<div class="item item-body" style="border: none;">
				<img style="width: 55%;" src="img/doyouknow.png" />
				<p>The chubby, mustached Italian with the blue overalls is by far the best-known computer game character in the world. He was born in 1981 and is based on a real person: Mario Segale, who rented warehouses to Nintendo.</p>
			</div>
			<div class="text-center">
				<button class="button button-small button-custom share-button">VIEW MORE</button>
			</div>
	</ion-content>
</ion-modal-view>