<ion-modal-view class="widget-modal">
	<ion-header-bar align-title="center">
		<p class="title">LATEST VIDEOS</p>
		<div class="buttons">
			<button class="button button-clear button-icon icon ion-ios-close-empty" ng-click="closeLatestVideos()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="margin">
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/I_0f2sHnUZ8" frameborder="0" width="560" height="315" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
			</div>
			<h4>Awesome GOOOOOO</h4>
			<p>What a stupendous goal</p>
		</div>
	</ion-content>
</ion-modal-view>