<ion-modal-view class="widget-modal polls">
	<ion-header-bar align-title="center">
		<p class="title">POLLS</p>
		<div class="buttons">
			<button class="button button-clear button-icon icon ion-ios-close-empty" ng-click="closePolls()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row no-padding buttons-row">
			<div class="col col-33 text-center">
				<div class="round-button button-yes">
					<p class="labelp">YES</p>
				</div>
			</div>
			<div class="col col-33 text-center">
				<div class="round-button big-button">
					<img class="brand-img" src="img/Xbox_One.png" />
					<p class="brand-name">XBOX ONE</p>
				</div>
			</div>
			<div class="col col-33 text-center">
				<div class="round-button button-no">
					<p class="labelp">NO</p>
				</div>
			</div>
		</div>
		<div class="widget-content text-center">
			<p class="popup-question">Is XBOX ONE the best console to play HD games?</p>
			<div class="progress-bar yes">
				<p class="text-right">65%</p>
				<div class="progress" style="width: 65%;">
					<p class="text-left">YES</p>
				</div>
			</div>
			<div class="progress-bar no">
				<p class="text-right">35%</p>
				<div class="progress" style="width: 35%;">
					<p class="text-left">NO</p>
				</div>
			</div>
			<div class="text-center">
				<button class="button button-small button-custom share-button">VIEW MORE POLLS</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>