<ion-view class="login-register-bg">
	<ion-content class="has-footer container">
		<div class="text-center app-logo">
			<img class="full-img" src="img/logo-2.png" />
		</div>
		<div class="heading-boarder"></div>
		<div class="text-center">
			<h3 class="uppercase">Forget Password</h3>
		</div>
		<form class="main-form" name="signupForm" novalidate ng-submit="forgotPassword(signupData, signupForm.$invalid)">
			<div class="row no-padding">
				<div class="col no-padding">
					<input type="email" placeholder="EMAIL" name="email" ng-model="signupData.email" required />
					<p class="validation-error" ng-show="submitted && signupForm.email.$error.required">Email is required.</p>
					<p class="validation-error" ng-show="submitted && !signupForm.email.$error.required && signupForm.email.$error.email">Not valid email address.</p>
				</div>
			</div>
			<div class="button-section">
				<button class="button button-full button-green uppercase" ng-click="forgotPassword(signupData, signupForm.$invalid)">
					Submit
				</button>
			</div>
		</form>
	</ion-content>
	<div class="bar bar-footer bar-transparent hide-on-keyboard-open" ng-click="goTo('app.login', {})">
		<div class="title">Already a Member? Sign in</div>
	</div>
</ion-view>