<ion-view class="login-register-bg">
	<ion-content class="has-footer container">
		<div class="text-center app-logo">
			<img class="full-img" src="img/logo-2.png" />
		</div>
		<div class="heading-boarder"></div>
		<div class="text-center has-sub-heading">
			<h3 class="uppercase">Become a god</h3>
			<p class="sub-heading">AND GROW YOUR GAMING NETWORK
		</div>
		<div class="button-section">
			<button class="button button-full button-black button-img-left uppercase" ng-click="goTo('app.signup', {})">
				<img src="img/icon-gampad-green.png" /> New user? SIGN-UP
			</button>
			<button class="button button-full button-black button-img-left uppercase" ng-click="goTo('app.login', {})">
				<img src="img/icon-avtar-green.png" /> Already a Member? Login
			</button>
		</div>
		<div class="devider-row">
			<p class="text-center">
				<span class="text-round">OR</span>
			</p>
		</div>
		<div class="row button-row fb-button no-padding">
			<div class="col col-20 image-col text-center no-padding">
				<img src="img/icon-fb-white.png" />
			</div>
			<div class="col text-center text-col no-padding">
				<p class="uppercase">Sign in with Facebook</p>
			</div>
		</div>
		<div class="row button-row gplus-button no-padding">
			<div class="col col-20 image-col text-center no-padding">
				<img src="img/icon-gplus-white.png" />
			</div>
			<div class="col text-center text-col no-padding">
				<p class="uppercase">Sign in with GOOGLE+</p>
			</div>
		</div>
		<div class="row button-row twitch-button no-padding">
			<div class="col col-20 image-col text-center no-padding">
				<img src="img/icon-twitch-white.png" />
			</div>
			<div class="col text-center text-col no-padding">
				<p class="uppercase">Sign in with TWITCH</p>
			</div>
		</div>
		<div class="row button-row steam-button no-padding">
			<div class="col col-20 image-col text-center no-padding">
				<img src="img/icon-steam-white.png" />
			</div>
			<div class="col text-center text-col no-padding">
				<p class="uppercase">Sign in with Steam</p>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-transparent hide-on-keyboard-open" ng-click="goTo('menu.interests', {})">
		<div class="title">SKIP</div>
	</div>
</ion-view>